.logistic_regression_plot {
    display: flex;
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
    flex-direction: column;
}

.logistic_regression {
    display: flex;
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
}

.logistic_regression_info {
    margin-top: 45px;
    margin-left: 50px;
}

.logistic_regression_title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.5em;
    color: var(--secondaryColor);
}

.logistic_regression_description {
    white-space: pre-line;
    width: 600px;
    font-size: 1.1rem;
    text-align: justify;
    color: var(--textColor);
    margin-top: 30px;
}

@media only screen and (max-width: 980px) {
    .logistic_regression {
        flex-direction: column;
        align-items: center;
    }
    .logistic_regression_info {
        width: 80%;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        margin-left: 0px;
        text-align: center;
    }
    .logistic_regression_description {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .logistic_regression_info_title {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 0.5em;
        color: var(--secondaryColor);
    }
}