.multi_selection_container {
    border-radius: 25px;
    border: solid;
    width: 350px;
    height: 550px;
    border-color: var(--secondaryColor);
    margin-bottom: 30px;
}

.multi_selection_header_text {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--secondaryColor);
    margin-bottom: 10px;
}

.multi_selection_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px 25px 0px 0px;
    background-color: var(--quaternaryColor);
    padding: 15px;
    height: 130px;
}

.multi_selection_body {
    padding: 20px;
}